<html xmlns:th="http://www.thymeleaf.org"
>

<head>

    <div th:fragment="header-css">

        <title>Blog Home - Start Bootstrap Template</title>

        <link href="../../css/bootstrap.min.css"
              rel="stylesheet"
              th:href="@{/css/bootstrap.min.css}"/>

        <!-- Custom styles for this template -->
        <link href="../../css/blog-home.css"
              rel="stylesheet"
              th:href="@{/css/blog-home.css}"/>

    </div>
</head>
<body>

<div th:fragment="header">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Start Bootstrap</a>
            <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

</body>
</html>